.App {
  text-align: center;
}

.Header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(20px + 2vmin);
  color: Black;
}

.CardsStyle {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px);
  color: Black;
  margin-left: 100px;
}

.BodyStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;


}

