.App {
  text-align: center;
}

.header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(20px + 2vmin);
  color: Black;
}

.cards-style {

  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-wrap: wrap;*/
  /*font-size: calc(20px);*/
  /*color: Black;*/
  /*margin-left: 100px;*/
  /*border: 2px solid transparent;*/
  /*flex: 1;*/
  /*padding: 2%;*/
  /*flex-basis: 25%;*/
  padding: 2%;
  flex-grow: 1;
  flex-basis: 21%;
  z-index: 0;

}

.cards-style:hover {
  background-color: lightblue;
  border-color: black;
}



.body-style-row-for-cards {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*margin: 10px;*/
  display: flex;
  flex-wrap: wrap;


}

.body-style-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px
}

.buttons-style {
  display: flow ;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttons-style-2 {
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: green;
  color: white;
  text-align: end;
}

.card-preview-style {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: #11111166;
}

.card-preview-close-button {
  display: block;
  position: fixed;
  top: 35px;
  right: 35px;
  font-size: 36px;
  color: green;
  pointer-events: all;
  cursor: pointer;
  z-index: 100;
}

.card-show-all {
  cursor: pointer;
}

.delete-card-button {
  cursor: pointer;
  z-index: 100;
  position: relative;
  top: 0px;
  right: 5px;
  opacity: 0;
  bottom: 10px;

}

.delete-card-button:hover {
  opacity: 1
}